{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="ui segment"><h1 class="ui header aligned center">分配账号</h1>
            <div class="ui floating labeled icon dropdown button"><i class="filter icon"></i><span
                    class="text">全部</span>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>选取部门</div>
                    <div class="divider"></div>

                    <a class="item" href="{% url 'member:dept_assign_account_list' %}">全部 </a>
                    {% for dept in dept_list %}
                        <a class="item" href="{% url 'member:accout_list_with_id' dept.id %}">{{dept.dept_name}} </a>
                    {% endfor %}
                         
                </div>
            </div>

            <table class="ui table celled line single fixed striped" id="table">
                <thead>
                <tr class="center aligned">
                    <th>序号</th>
                    <th>账号</th>
                    <th>密码</th>
                    <th>姓名</th>
                    <th>职位</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for account in object_list %}

                
                <tr class="center aligned">
                    <td>{{ account.id }}</td>
                    <td>{{ account.user.username }}</td>
                    <td>{{ account.enp }}</td>
                    <td>{{ account.user.last_name }}</td>
                    <td>{{ account.position }}</td>
                    <td>
                        <div class="ui vertical animated button primary basic left floated my_edit">
                            <div class="hidden content">编辑</div>
                            <div class="visible content"><i class="edit icon"></i></div>
                        </div>
                        <div class="ui vertical animated button negative basic right floated my_remove">
                            <div class="hidden content">删除</div>
                            <div class="visible content"><i class="add user icon"></i></div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
                <div class="ui icon orange message"><i class="hide icon"></i>
                    <div class="content">
                        <div class="header">目前没有一条数据</div>
                        <p>请试着添加一条数据后再试。</p></div>
                </div>
                <tfoot>
                <tr>
                    <th colspan="6">
                        <div class="ui pagination menu right floated"><a class="item">1</a>
                            <div class="disabled item">...</div>
                            <a class="item">10</a><a class="item active">11</a><a class="item">12</a></div>
                    </th>
                </tr>
                </tfoot>
            </table>
            <div class="ui modal edit"><!--i.close.icon-->
                <div class="header">编辑账号</div>
                <div class="image content">
                    <div class="ui form">
                        <div class="four fields">
                            <div class="field"><input type="text" placeholder="账号"></div>
                            <div class="field"><input type="text" placeholder="密码"></div>
                            <div class="field"><input type="text" placeholder="姓名"></div>
                            <div class="field"><input type="number" placeholder="职位"></div>
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <div class="ui black deny button">取消</div>
                    <div class="ui positive right labeled icon button">提交<i class="checkmark icon"></i></div>
                </div>
            </div>
            <div class="ui basic modal remove">
                <div class="ui icon header"><i class="remove user icon"></i> 确认删除账号吗?</div>
                <div class="content"><p>删除账号后该用户无法登陆!</p></div>
                <div class="actions">
                    <div class="ui red basic cancel inverted button"><i class="remove icon"></i> 否</div>
                    <div class="ui green ok inverted button"><i class="checkmark icon"></i> 是</div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
{% block script %}
    <script>$('.my_remove').click(function () {
        $('.ui.modal.remove').modal('show')
    })
    $('.my_edit').click(function () {
        $('.ui.modal.edit').modal('show')
    })</script>
{% endblock %}