{% extends "base.html" %}

{% block content %}

    <a id="add_dept" href="{% url 'member:dept_create' %}" alt="增加" onclick="add_dept(this);return false">+++</a>
    
    {% if msg %}
        {{ msg }}
    {% endif %}
        
    <ul>
        {% for dept in object_list %}
            <li>{{ dept.dept_name }}
                <a id="assign_count" href="{% url 'member:dept_assign_account' dept.id %}" onclick="ass_account(this);return false;">分配账号</a>
            </li>
        {% empty %}
            <li>No dept yet.</li>
        {% endfor %}
</ul>
    
<script>
    function add_dept (event) {
        window.open(event.href,'','width=1000,height=800')
    }
    function ass_account (event) {
        window.open(event.href,'','width=1000,height=800')
    }

</script>

    
{% endblock content %}