<div class="header">更新部门</div>
<form action="" method="POST" class="depart">

    <div class="image content">
        <!--i.close.icon-->
        {% csrf_token %}
        <div class="ui form">
            <div class="four fields">
                <div class="field">{{ form.dept_name }}</div>
                <div class="field">{{ form.dept_boss }}</div>
                <div class="field">{{ form.dept_position }}</div>
                <div class="field">{{ form.boos_phone }}
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">取消</div>
        <<button type="submit" class="ui positive right labeled icon button">提交<i class="checkmark icon"></i>
        </button>

    </div>
</form>