{% extends "base.html" %}

{% block content %}

    <form action="{% url 'member:member_add' %}" id="add_member" method="POST" class="ui modal member large show"><!--i.close.icon-->
                {% csrf_token %}
        <div class="header">新增员工</div>
        <div class="image content">
            <div class="ui form">
                <div class="field"><label>基本属性</label>
                    <div class="fields">
                        <div class="field">{{ form.name }}</div>
                        <div class="field">{{ form.dept }}</div>
                        <div class="field">{{ form.sex }}</div>
                        <div class="field"><input type="number" placeholder="血型"></div>
                        <div class="field"><input type="text" placeholder="出生日期"></div>
                    </div>
                </div>
                <div class="field"><label>部门属性</label>
                    <div class="fields">
                        <div class="field"><input type="text" placeholder="工号"></div>
                        <div class="field"><input type="text" placeholder="部门"></div>
                        <div class="field"><input type="number" placeholder="职位"></div>
                        <div class="field"><input type="number" placeholder="身份证"></div>
                        <div class="field"><input type="number" placeholder="联系方式"></div>
                    </div>
                </div>
                <div class="field"><label>点击图片上传图像</label>
                    <div class="ui move reveal my_upload">
                        <div class="visible content"><img class="ui small image"
                                                          src="https://semantic-ui.qyears.com/images/wireframe/square-image.png">
                        </div>
                        <div class="hidden content"><img class="ui small image"
                                                         src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">取消</div>
            <div class="ui positive right labeled icon button">提交<i class="checkmark icon"></i></div>
        </div>
    </form>

    <form action="{% url 'member:member_add' %}" method="POST">
        {% csrf_token %}
        {% for field in form %} {{ field.label_tag }} {{ field }} {{ field. }}
            {% if field.help_text %}
                {{ field.help_text|safe }}
            {% endif %} {% endfor %}

        <input type="submit" value="Save">

    </form>

{% endblock content %}
{% block script %}
    <script>
        $('.ui.modal').modal('show')
    </script>
{% endblock %}