{% extends 'mobile.html' %}
{% load tag %}
{% block style %}
    <style>
        .content {
            padding-top: 1px;
            margin: 5vh 5vw;
            min-height: 80vh;
            border-radius: 10px;
            background: rgba(255, 255, 255, .8);
            padding-bottom: 2rem;
            box-shadow: 1px 1px 5px #abb4bf;
        }

        .content div {
            margin-top: 3rem;
            color: #666;
            text-align: center;
            font-size: 2rem;
            font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: lighter;
        }

        .content .name {
            font-weight: bold;
            color: #333;
        }

        .content .avatar img {
            width: 200px;
            border-radius: 30px;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="content">
        <div class="avatar"><img src=" {{ object.member_avatar.url }}"></div>
        <div class="name">{{ object.name }}</div>
        <div>{{ object.birthday }}</div>
        <div>{{ object.sex }}</div>
        <div>{{ object.nation }}</div>
        <div class="phone">{{ object.phone }}</div>
        <div class="position">{{ object.position }}</div>
        <div class="blood">{{ object.blood_type }}</div>
        <div class="department">{{ object.dept_name }}</div>
    </div>
{% endblock %}