{% extends 'base.html' %}

{% block content %}
    <section>
	<div class="ui segment"><h1 class="ui header aligned center">员工详细信息</h1>
		<div class="ui floating labeled icon dropdown button"><i class="filter icon"></i><span class="text">全部</span>
			<div class="menu">
				<div class="header"><i class="tags icon"></i>选取部门</div>
				<div class="divider"></div>
				<div class="item">部门1</div>
				<div class="item">部门2</div>
				<div class="item">部门3</div>
			</div>
		</div>
		<a href="member.html">
			<button class="ui right labeled icon button primary basic"><i class="right info icon"></i> 查看缩略</button>
		</a>
		<table class="ui table celled line single fixed" id="table">
			<thead>
			<tr class="center aligned">
				<th>员工工号</th>
				<th>头像</th>
				<th>姓名</th>
				<th>性别</th>
				<th>民族</th>
				<th>血型</th>
				<th>身份证</th>
				<th>出生年月</th>
				<th>职位</th>
				<th>部门</th>
				<th>联系方式</th>
			</tr>
			</thead>
			<tbody>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234560</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234561</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234562</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234563</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234564</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234565</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234566</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234567</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234568</td>
			</tr>
			<tr class="center aligned">
				<td>A2345</td>
				<td><img class="ui small image rounded my_img"
								 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg"></td>
				<td>李旭成</td>
				<td>男</td>
				<td>汉族</td>
				<td>o型</td>
				<td>6101221999999999</td>
				<td>1980.12.12</td>
				<td>部长</td>
				<td>项目部</td>
				<td>1234569</td>
			</tr>
			</tbody>
			<div class="ui icon orange message"><i class="hide icon"></i>
				<div class="content">
					<div class="header">目前没有一条数据</div>
					<p>请试着添加一条数据后再试。</p></div>
			</div>
			<tfoot>
			<tr>
				<th colspan="11">
					<div class="ui pagination menu right floated"><a class="item">1</a>
						<div class="disabled item">...</div>
						<a class="item">10</a><a class="item active">11</a><a class="item">12</a></div>
				</th>
			</tr>
			</tfoot>
		</table>
	</div>
</section>

    {{ object.member_id }}
    {{ object.member_avatar }}
    {{ object.name }}
    {{ object.sex }}
    {{ object.birthday }}
    {{ object.position }}
    {{ object.phone }}


    <img src="{% url 'member:qrcode' object.qrcode %}" width=100 height=100>
    
{% endblock content %}
{% block script %}
    <script>$ ('.ui.dropdown').dropdown ()</script>
{% endblock %}
    