{% extends "base.html" %}

{% block content %}

    <select>
    <option value="0" selected> 全部</option>
    {% for dept in dept_list %}
        <option value="{{ dept.id }}" 
        {% ifequal dept.dept_name select_dept.dept_name %}
            selected
        {% endifequal %}
            > {{ dept.dept_name }}</option>
    {% endfor %}
    </select
        
    <ul>
        {% for member in object_list %}
            <li>{{ member.name }}
            </li>
        {% empty %}
            <li>No member yet.</li>
        {% endfor %}
</ul>
     
{% endblock content %}