<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style/semantic.min.css">
    <link rel="stylesheet" href="/static/style/base.css">
    <script src="/static/javascript/jquery-3.2.1.min.js"></script>
    <script src="/static/javascript/semantic.min.js"></script>
    <title>Document</title>
    {% block style %}
    {% endblock style %}
</head>
<body>
<div class="ui segment">
    <form action="{% url 'member:member_add' %}" id="add_member" method="POST" class="ui form fullscreen"
          enctype="multipart/form-data">
        <!--i.close.icon-->
        {% csrf_token %}
        <div class="ui dividing header">新增员工</div>
        <div class="field"><label>基本属性</label>
            <div class="fields">
                <div class="field">
                    <label>姓名</label>{{ form.name }}</div>
                <div class="field"><label for="">民族</label>{{ form.nation }}</div>
                <div class="field"><label for="">性别</label>{{ form.sex }}</div>
                <div class="field"><label for="">血型</label>{{ form.blood_type }}</div>
                <div class="field"><label for="">出生日期</label> {{ form.birthday }}</div>
            </div>
        </div>
        <div class="field"><label>部门属性</label>
            <div class="fields">
                <div class="field"><label for="">工号</label>{{ form.member_id }}</div>
                <div class="field"><label for="">部门</label>{{ form.dept }}</div>
                <div class="field"><label for="">职位</label>{{ form.position }}</div>
                {#                <div class="field"><label for="">身份证</label>{{ form. }}</div>#}
                <div class="field"><label for="">电话号</label>{{ form.phone }}</div>
            </div>
        </div>
        <div class="field">
            <label>点击按钮上传图像</label>
            {#            <div class="ui move reveal my_upload">#}
            {#                <div class="visible content"><img class="ui small image"#}
            {#                                                  src="https://semantic-ui.qyears.com/images/wireframe/square-image.png">#}
            {#                </div>#}
            {#                <div class="hidden content"><img class="ui small image"#}
            {#                                                 src="https://semantic-ui.qyears.com/images/avatar/large/steve.jpg">#}
            {#                </div>#}
            {#            </div>#}
            {{ form.member_avatar }}
        </div>
        <div onclick="close_page()" class="ui black right floated deny button">取消</div>
        <button type="submit" class="ui positive right floated labeled icon button">提交<i class="checkmark icon"></i>
        </button>
    </form>
</div>
<script>
    function close_page() {
        window.opener = null
        window.open('', '_self')
        window.close()
    }
</script>
</body>
</html>