<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style/semantic.min.css">
    <script src="/static/javascript/jquery-3.2.1.min.js"></script>
    <script src="/static/javascript/semantic.min.js"></script>

</head>
<body>
<div class="ui basic modal remove">
    <div class="ui icon header"><i class="check circle outline icon"></i> 提交成功!</div>
    <div class="content" style="text-align: center">3秒后关闭页面</div>
</div>
<script>
    $('.ui.modal').modal('show')
    var a = 3
    setInterval(function () {
        document.getElementsByClassName("content")[0].innerHTML = --a + '秒后关闭页面'
        if (a == 0) {
            window.opener.reload()
            window.opener = null
            window.open('', '_self')
            window.close()
        }
    }, 1000)
</script>
</body>
</html>