[Unit]
Description=start subway worker

[Service]
ExecStart=/www/wwwroot/Subway/.venv/bin/python manage.py runserver 0.0.0.0:8007
WorkingDirectory=/www/wwwroot/Subway
Restart=on-failure
RestartSec=3s

[Install]
WantedBy=multi-user.target
