{% extends 'base.html' %}
{% load static %}

{% block style %}
    <script src={% static 'javascript/g2/g2.min.js' %}></script>
    <script src={% static 'javascript/g2/data-set.min.js' %}></script>
    <style>
        .label_ {
            left: -110px;
            width: 110px;
            text-align: center;
            font-size: 1.2em;
            position: relative;
            font-weight: 700;
        }
    </style>
{% endblock %}
{% block content %}
    <section>
        <div class="ui segment">
            <h1 class="ui header aligned center">进度总图表</h1>
            <div class="ui floating labeled icon dropdown button"><i class="filter icon"></i><span
                    class="text">{{ select_profess }}</span>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>选取专业</div>
                    <div class="divider"></div>
                    {% for profess in profess_s %}
                        <a class="item"
                           href="{% url 'schedule:list_chart_with_profess' profess.id %}"> {{ profess }}</a>
                    {% endfor %}
                </div>
            </div>
            <a class="ui labeled icon button black basic right floated append" href="{% url 'schedule:qr4_make' %}"
               download="进度总图表二维码.png"><i class="users icon"></i><span>导出 全部专业 二维码</span></a>
            <a class="ui labeled icon button black basic right floated append"
               href="{% url 'schedule:qr4_make_with_pk' select_profess.id %}"
               download="进度{{ select_profess.name }}专业二维码.png"><i
                    class="users icon"></i><span>导出 {{ select_profess.name }}专业 二维码</span></a>
            <div style="overflow:hidden">
                <div id="mountNode"></div>
                <div class="bottom-tool-box"><img class="sort-button" src="../static/sort.png"></div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        var ds = new DataSet()
        var sortType = 'positive'
        var data1 = [{% for item in object_list %}{type: '开累完成率' ,
                name: '{{item.job_name}}-{{ item.location }}',
                value: parseFloat((({{item.done_count}}) /{{ item.design_total }}).toFixed(2))
                }, {% endfor %}]
        var data2 = [{% for item in object_list %}{type: '开累剩余率' ,
                name: '{{item.job_name}}-{{ item.location }}',
                value: parseFloat((({{ item.design_total }}-{{item.done_count}}) /{{ item.design_total }}).toFixed(2)),
                }, {% endfor %}]
        var data = data1.concat(data2)
        var dv = ds.createView().source(data)
        dv.transform({
            type: 'sort-by',
            fields: ['name'],
            order: 'ASC'
        })
        var chart = new G2.Chart({
            container: 'mountNode',
            forceFit: true,
            height: window.innerHeight,
            padding: [20, 40, 50, 124]
        })
        console.log(dv)
        chart.source(dv, {
            value: {
                max: 1,
                min: 0,
                nice: false,
                alias: '开累完成率'
            }
        })
        chart.legend({
            position: 'top-center'
        });
        chart.axis('name', {
            label: {
                htmlTemplate: value => {
                    return `
                    <div class="label_">
                      <p>${value.split('-')[0]}</p>
                     <p>${value.split('-')[1]}</p>
                    </div>
                    `;
                }
            },
            tickLine: {
                alignWithLabel: false,
                length: 0
            },
            line: {
                lineWidth: 0
            }
        })
        chart.axis('value', {
            label: null,
            title: {
                offset: 30,
                textStyle: {
                    fontSize: 18,
                    fontWeight: 300
                }
            }
        })
        chart.coord().transpose()
        chart.intervalStack().position('name*value').color('type*name', function (type, name) {
            var color = void 0;
            if (type === '开累完成率') color = '#1890ff';
            if (type === '开累剩余率') color = '#f5222d';
            return color;
        }).size(26).opacity(1).label('value*type', function (val, t) {
            if (val < 0.05) {
                return false;
            }
            return {
                position: 'middle',
                offset: 0,
                textStyle: {
                    fontSize: 12,
                    fill: 'white',
                    shadowBlur: 2,
                    shadowColor: 'rgba(0, 0, 0, .45)'
                }
            };
        });
        chart.render()
        $('.sort-button').click(function () {
            sortType = sortType === 'positive' ? 'negative' : 'positive'
            sortData(sortType)
            chart.repaint()
        })

        function sortData(sortType) {
            if (sortType === 'positive') {
                dv.transform({
                    type: 'sort-by',
                    fields: ['name', 'type', 'value'], // 根据指定的字段集进行排序，与lodash的sortBy行为一致
                    order: 'ASC'        // 默认为 ASC，DESC 则为逆序
                })
                console.log(dv, 1)
            } else {
                dv.transform({
                    type: 'sort-by',
                    fields: ['name', 'type', 'value'], // 根据指定的字段集进行排序，与lodash的sortBy行为一致
                    order: 'DESC'        // 默认为 ASC，DESC 则为逆序
                })
                console.log(dv, 2)
            }
        }</script>
{% endblock %}