{% extends "base.html" %}
{% block content %}
    {% include "_modal.html" %}
    <section>
        <div class="ui segment">
            <h1 class="ui header aligned center">操作记录</h1>
            <div class="ui floating labeled icon dropdown button">
                <i class="filter icon"></i>
                <label>{{ select_dept }}</label>
                <div class="menu">
                    <div class="header"><i class="tags icon"></i>选取部门</div>
                    <div class="divider"></div>
                    <a class="item" href="{% url 'member:dept_assign_account_list' %}">全部</a>
                    {% for dept in dept_list %}
                        <a class="item" href="{% url 'member:accout_list_with_id' dept.id %}">{{ dept.dept_name }} </a>
                    {% endfor %}
                </div>
            </div>
            <a href="material.html">
                <button class="ui right labeled icon button primary basic"><i class="right info icon"></i> 物料信息</button>
            </a>
            <table class="ui table celled line single fixed" id="table">
                <thead>
                <tr class="center aligned">
                    <th>编号</th>
                    <th>物资名称</th>
                    <th>型号</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th>操作时间</th>
                    <th>操作类型</th>
                    <th>数量</th>
                    <th>操作人</th>
                </tr>
                </thead>
                <tbody>
                <tr class="center aligned">
                    <td>A2345</td>
                    <td>钢材</td>
                    <td>AS-123</td>
                    <td>200</td>
                    <td>吨</td>
                    <td>2018-01-01</td>
                    <td>入库</td>
                    <td>20</td>
                    <td>张鸿浩</td>
                </tr>
                </tbody>
                <div class="ui icon orange message"><i class="hide icon"></i>
                    <div class="content">
                        <div class="header">目前没有一条数据</div>
                        <p>请试着添加一条数据后再试。</p></div>
                </div>
                <tfoot>
                <tr>
                    <th colspan="9">
                        <div class="ui pagination menu right floated"><a class="item">1</a>
                            <div class="disabled item">...</div>
                            <a class="item">10</a><a class="item active">11</a><a class="item">12</a></div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>


{% endblock content %}
{% block script %}
    <script>
        $('.add_account').each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })
        $(".create_dept").modalForm({formURL: "{% url 'member:dept_create' %}"});
        $(".update_dept").each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })
        $(".delete_dept").each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })
    </script>
{% endblock script %}