{% extends 'mobile.html' %}
{% load tag %}
{% block content %}
    <div class="content">
        <div class="table">
            <div class="title">物料信息</div>
            <div class="row"><span>{% verbose_name object 'id' %}</span><span>{{ object.id }}</span></div>
            <div class="row"><span>{% verbose_name object 'name' %}</span><span>{{ object.name }}</span></div>
            <div class="row"><span>{% verbose_name object 'type_id' %}</span><span>{{ object.type_id }}</span></div>
            <div class="row"><span>{% verbose_name object 'profess' %}</span><span>{{ object.profess_name }}</span>
            </div>
            <div class="row"><span>{% verbose_name object 'manufacturer' %}</span><span>{{ object.manufacturer }}</span>
            </div>
            <div class="row"><span>{% verbose_name object 'num' %}</span><span>{{ object.num }}</span></div>
            <div class="row"><span>{% verbose_name object 'unit' %}</span><span>{{ object.unit }}</span></div>
        </div>
    </div>
{% endblock %}

