{% extends "base.html" %}
{% block content %}
    {% include "_modal.html" %}
    <section>
        <div class="ui segment">
            <h1 class="ui header aligned center">物料信息</h1>
            <div class="ui secondary pointing menu">
                {% for profess in profess_s %}
                    <a class="item
            {% ifequal select_profess profess %}
                active
            {% endifequal %}
                " href="{% url 'material:list_profess' profess.id %}">{{ profess.name }}</a>
                {% endfor %}
                {% if user.is_superuser %}
                    <div class="right menu">
                        <a href="{% url 'material:qr1_make' %}" download="物资一级二维码.png" class="item">导出全部专业二维码</a>
                        <a href="#" class="item add_profess" onclick="return false">添加专业</a>
                    </div>
                {% endif %}
            </div>
            <a href="{% url 'material:stock_record' %}">
                <button class="ui right labeled icon button primary"><i class="right info icon"></i> 操作记录</button>
            </a>
            <div class="ui animated fade right floated button">
                <div class="hidden content"><i class="upload icon"></i></div>
                <a class="visible content" href="{% url 'material:export_qr' %}">导出全部二维码</a>
            </div>
            {% if user.is_superuser %}
                <div class="ui buttons right floated">
                    <form action="{% url 'material:import' %}" id="import_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="ui labeled icon button right floated my_import" id="import"><i
                                class="upload icon"></i>
                            导入
                        </div>
                    </form>
                    <div class="or"></div>
                    <a class="ui right labeled icon button my_export" href="{% url 'material:export' %}"><i
                            class="download icon"></i>
                        导出</a>
                </div>
            {% endif %}
            <table class="ui table celled line single fixed" id="table">
                <thead>
                <tr class="center aligned">
                    <th>编号</th>
                    <th>物资名称</th>
                    <th>生产厂家</th>
                    <th>专业</th>
                    <th>型号</th>
                    <th>数量</th>
                    <th>单位</th>
                    <th class="four wide">操作</th>
                </tr>
                </thead>
                <tbody>
                {% for material in object_list %}
                    <tr class="center aligned">
                        <td>{{ material.id }}</td>
                        <td>{{ material.name }}</td>
                        <td>{{ material.manufacturer }}</td>
                        <td>{{ material.profess }}</td>
                        <td>{{ material.type_id }}</td>
                        <td>{{ material.num }}</td>
                        <td>{{ material.unit }}</td>
                        <td>
                            <a class="ui vertical animated button positive basic center floated my_qrcode"
                               href="{{ material.qrcode }}" download>
                                <div class="visible content">二维码</div>
                                <div class="hidden content"><i class="qrcode icon"></i></div>
                            </a>
                            {% if user.is_superuser or material_update %}
                                <a class="ui vertical animated button primary basic center floated my_edit_member">
                                    <div class="visible content">编辑
                                    </div>
                                    <div class="hidden content update_material"
                                         data-id="{% url 'material:update' material.id %}"><i class="edit icon"></i>
                                    </div>
                                </a>

                                <a class="ui vertical animated button primary basic center floated my_edit_member">
                                    <div class="visible content">出/入库</div>
                                    <div class="hidden content inout_stock"
                                         data-id="{% url 'material:in_out_stock' material.id %}"><i
                                            class="edit icon"></i>
                                    </div>
                                </a>
                            {% endif %}
                            {% if user.is_superuser or material_delete %}
                                <a class="ui vertical animated button negative basic center floated my_remove">
                                    <div class="visible content ">删除
                                    </div>
                                    <div class="hidden content delete_material"
                                         data-id="{% url 'material:delete' material.id %}"><i
                                            class="remove user icon"></i>
                                    </div>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="8">
                        {% if user.is_superuser or material_add %}
                            <button class="ui labeled icon button positive right floated add_material"><i
                                    class="users icon"></i>
                                添加物料
                            </button>
                        {% endif %}
                        {% if user.is_superuser %}
                            <button class="ui labeled icon button blue left floated update_profess"><i
                                    class="users icon"></i><span>
                                修改当前专业信息</span>
                            </button>
                            <button class="ui labeled icon button negative left floated delete_profess
                            {% ifequal object_list|length 0 %}
                            {% else %}
                            disabled
                            {% endifequal %}">
                                <i class=" users icon"></i><span> 删除当前专业</span>
                            </button>
                            <a class="ui labeled icon button black basic left floated append"
                               href="{{ select_profess.qrcode }}" download><i
                                    class="users icon"></i><span>导出该专业二维码</span></a>
                        {% endif %}
                        {% include '_page.html' %}
                    </th>
                </tr>
                </tfoot>
            </table>
            <div class="ui modal inout_stock">
                <div class="ui dividing header">
                    出/入库
                </div>
                <form action="" class="ui form" method="post" id="inout_stock_form">
                    {% csrf_token %}
                    <div class="image content" style="margin: 20px">
                        <div class="ui form">
                            <div class="ui inline four fields">
                                <div class="field">
                                    <input type="number" name="count" placeholder="变动数量">
                                </div>
                                <div class="field">
                                    <label for="type_id">操作类型</label>
                                    <div class="ui radio checkbox">
                                        <input type="radio" value=0 name='type_id'><label for="">入库</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value=1 name='type_id'><label for="">出库</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>操作人</label>
                                    <p>{{ user }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="actions" style="margin: 10px">
                        <div class="ui black deny button">取消</div>
                        <button type="button" class="ui btn positive right labeled icon button" onclick="inout_stock()">
                            提交<i class="checkmark icon"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </section>

{% endblock content %}
{% block script %}
    <script>
        $('.add_material').each(function () {
            $(this).modalForm({formURL: "{% url 'material:add' %}"})
        })
        $(".update_material").each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })
        $(".delete_material").each(function () {
            $(this).modalForm({formURL: $(this).data('id')})
        })

        $(".hidden.content.inout_stock").click(function () {
            $("#inout_stock_form").attr("action", $(this).data('id'))
            $(".ui.modal.inout_stock").modal('show')
        })

        $('.add_profess').modalForm({formURL: '{% url 'material:add_profess' %}'})
        $('button.update_profess').modalForm({formURL: '{% url 'material:update_profess' select_profess.id %}'})
        $('button.delete_profess').modalForm({formURL: '{% url 'material:delete_profess' select_profess.id %}'})
        {% if profess_isValid %}
            alert("{{ profess_isValid}}")
        {% endif %}

        $('.ui.radio.checkbox').checkbox()
    </script>
{% endblock script %}