{% extends 'mobile.html' %}
{% load tag %}
{% block content %}
    <div class="content">
        <div class="table">
            <div class="title">技术信息</div>
            <div class="row"><span> {% verbose_name object 'id' %}</span><span>{{ object.id }}</span></div>
            <div class="row"><span>{% verbose_name object 'title' %}</span><span>{{ object.title }}</span></div>
            <div class="row"><span>{% verbose_name object 'profess' %}</span><span>{{ object.profess_name }}</span>
            </div>
            <div class="row"><span>{% verbose_name object 'file_type' %}</span><span>{{ object.file_type }}</span></div>
            <div class="row click"><span>查看文件</span><i class="angle right icon"></i></div>
        </div>
    </div>
{% endblock %}