#table {
    border-spacing: 2px;
}

.ui.vertical.menu .item::before {
    height: 2px;
}

.my_img {
    margin: 0 auto;
    max-width: 100% !important;
}

.my_upload {
    cursor: pointer;
    display: inline-block !important;
}

.add_depart {
    margin-left: 50px !important;
    margin-top: 4px !important;
}

.modal-content {
    padding: 20px;
}

.message {
    margin: 20px;
    text-align: center;
}

form .actions {
    display: flex;
    justify-content: flex-end;
}