{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ TITLE.text }}</title>
    <link rel="stylesheet" href="{% static 'style/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'style/mobile.css' %}">
    <script src="{% static 'javascript/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'javascript/semantic.min.js' %}"></script>
    {% block style %}
    {% endblock %}

</head>
<body>
<div class="bg"><img src="{{ MOBILE_BACKEND_ICON.img.url }}"></div>
<div class="container">
    {#<header class="header">#}
    {#    {% block header %}#}
    {#    {% endblock %}#}
    {#    <img src="{{ MOBILE_HEADER_ICON.img.url }}">#}
    {#    <span>{{ TITLE.text }}</span>#}
    {#</header>#}
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="row">{{ MOBILE_FOOTER_TEXT.text }}</div>
        <div class="desc">
            <div class="left">©{{ MOBILE_FOOTER_COMMENT.text }}
            </div>
            <div class="right"><img src="{{ MOBILE_FOOTER_ICON.img.url }}"></div>
        </div>
    </footer>
</div>

{% block script %}
{% endblock %}
</body>
</html>
